@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: 'RC'; /* Font name */
  src: url('/R&C-Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: 'Inter', sans-serif;
  --font-family-rc: 'RC';

  --primary-c-dark: #BFA473;
  --secondary-c-dark: #3c3c3c;
  --background-c-dark: #282828;
  --text-c-dark: #F5F1E9;
  --text-placeholder-c-dark: #F5F1E9;
  --border-c-dark: #5454547a;

  --primary-c-light: #695331;
  --secondary-c-light: #CFCFCF;
  --background-c-light: #EAEAEA;
  --text-c-light: #0F0B04;
  --text-placeholder-c-light: #0F0B04;
  --border-c-light: #3d3d3d1f;

  --notification-c-dark: #409AE3;
  --success-c-dark: #5CB85C;
  --warning-c-dark: #F0AD4E;
  --error-c-dark: #D9534F;
  --notification-background-c-dark: #1a1d2e;
  --success-background-c-dark: #12281f;
  --warning-background-c-dark: #2a2110;
  --error-background-c-dark: #2c1b1b;

  --notification-c-light: #1B70B6;
  --success-c-light: #367C36;
  --warning-c-light: #9D600B;
  --error-c-light: #B82D28;
  --notification-background-c-light: #e9f4fd;
  --success-background-c-light: #e6f4e6;
  --warning-background-c-light: #fff3cd;
  --error-background-c-light: #f8d7da;

  --overlay-c-light: rgba(0, 0, 0, 0.5);
  --overlay-c-dark: rgba(0, 0, 0, 0.3);

  --tutorial-overlay-c-light: rgba(0, 0, 0, 0.5);
  --tutorial-overlay-c-dark: rgba(0, 0, 0, 0.7);

  --crop-c-light: rgba(59, 117, 194, 0.4);
  --crop-c-dark: rgba(49, 130, 197, 0.4);

  --editor-highlight-c: #1B70B6;
  --editor-highlight-with-opacity-c: rgba(27, 112, 182, 0.4);
  --editor-highlight-align-c: #b61b94;
}

:root {
  --primary-c: var(--primary-c-light);
  --secondary-c: var(--secondary-c-light);
  --background-c: var(--background-c-light);
  --text-c: var(--text-c-light);
  --text-placeholder-c: var(--text-placeholder-c-light);
  --border-c: var(--border-c-light);

  --notification-c: var(--notification-c-light);
  --success-c: var(--success-c-light);
  --warning-c: var(--warning-c-light);
  --error-c: var(--error-c-light);
  --notification-background-c: var(--notification-background-c-light);
  --success-background-c: var(--success-background-c-light);
  --warning-background-c: var(--warning-background-c-light);
  --error-background-c: var(--error-background-c-light);

  --overlay-c: var(--overlay-c-light);

  --tutorial-overlay-c: var(--tutorial-overlay-c-light);

  --crop-c: var(--crop-c-light);
}

.dark{
  --primary-c: var(--primary-c-dark);
  --secondary-c: var(--secondary-c-dark);
  --background-c: var(--background-c-dark);
  --text-c: var(--text-c-dark);
  --text-placeholder-c: var(--text-placeholder-c-dark);
  --border-c: var(--border-c-dark);

  --notification-c: var(--notification-c-dark);
  --success-c: var(--success-c-dark);
  --warning-c: var(--warning-c-dark);
  --error-c: var(--error-c-dark);
  --notification-background-c: var(--notification-background-c-dark);
  --success-background-c: var(--success-background-c-dark);
  --warning-background-c: var(--warning-background-c-dark);
  --error-background-c: var(--error-background-c-dark);

  --overlay-c: var(--overlay-c-dark);

  --tutorial-overlay-c: var(--tutorial-overlay-c-dark);

  --crop-c: var(--crop-c-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--text-c);
  font-family: var(--font-family, sans-serif);
  --border-ui: 1px solid var(--border-c);
  --border-modal: 2px solid var(--primary-c);
  --border-input: 1px solid var(--primary-c);
  --border-button: 2px solid var(--primary-c);
  --border-drag-and-drop: 2px dashed var(--primary-c);
  --border-crop : 1px dashed var(--editor-highlight-c);

  --default-transition: all 0.2s ease-in-out;

  --z-index-tutorial-item: 99999;
  --z-index-tutorial-click-blocker: 99995;
  --z-index-tutorial-overlay: 99990;
  --z-index-loading-wheel: 10100;
  --z-index-loading: 10090;
  --z-index-context-menu: 10050;
  --z-index-tip: 9999;
  --z-index-toast: 9998;
  --z-index-modal: 9997;
  --z-index-privacy: 1000;
  --z-index-help: 1000;
  --z-index-release: 1000;
  --z-index-export: 900;
  --z-index-color-picker: 850;
  --z-index-settings: 800;
  --z-index-top-panel: 700;
  --z-index-tools-settings-panel: 600;
  --z-index-tools-panel: 600;
  --z-index-sliders: 550;
  --z-index-rulers-padding: 530;
  --z-index-rulers: 525;
  --z-index-file-tabs: 520;
  --z-index-guide-lines: 510;
  --z-index-viewport: 500;

  --z-index-home-page-background: 100;
  --z-index-home-page-content: 200;

  --box-shadow-ui: 1px 3px 6px rgba(0, 0, 0, 0.4);
  --box-shadow-hover: 2px 2px 6px rgba(0, 0, 0, 0.2);

  --landing-page-app-name-font-size: 28px;
  --landing-page-app-name-font-weight: 600;
  --landing-page-title-font-size: 37px;
  --landing-page-title-font-weight: 700;
  --landing-page-text-font-size: 18px;
  --landing-page-text-font-weight: 300;
  --landing-page-logo-size: 60px;

  --title-font-size: 23px;
  --title-font-weight: 700;

  --subtitle-font-size: 18px;
  --subtitle-font-weight: 700;

  --help-subtitle-font-size: 20px;
  --help-subtitle-font-weight: 700;

  --release-subtitle-font-size: 20px;
  --release-subtitle-font-weight: 700;

  --release-date-font-size: 12px;
  --release-date-font-weight: 500;

  --text-font-size: 15px;
  --tool-text-font-size: 12px;

  --release-font-size: 16px;

  --tip-font-size: 13px;
  --tip-title-font-weight: 700;

  --content-modal-font-size: 13px;
  --content-modal-font-weight: 400;

  --file-tabs-name-font-size: 12px;

  --ruler-size: 15px;

  --vibration-range: 1px;
}
