@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  user-select: none;
}

/* Buttons styles */
.button {
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
}

.button-control {
  background: var(--secondary-c);
  border: none;
  color: var(--primary-c);
  transition: var(--default-transition);
}

.button-control:hover {
  background: var(--primary-c);
  color: var(--secondary-c);
  transition: var(--default-transition);
}

.button-default {
  padding: 8px 16px;
  border: var(--border-button);
  background: none;
  color: var(--primary-c);
  transition: var(--default-transition);
}

.button-default:hover {
  background: var(--primary-c);
  color: var(--secondary-c);
  transition: var(--default-transition);
}

.button-text {
  padding: 8px 0px;
  border: none;
  background: none;
  color: var(--primary-c);
  transition: var(--default-transition);
}

.button-text:hover {
  text-decoration: underline;
  transition: var(--default-transition);
}

.button-circle {
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animation window shake styles */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.3s ease;
}

/* Input styles */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Scrollbar styles */
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--background-c);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--secondary-c);
}

/* Tools settings styles */
.tool-settings {
  width: 100%;
  height: 100%;
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--text-c);
  overflow-y: auto;
  overflow-x: hidden;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.specific-settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px 20px 0;
  border-bottom: var(--border-ui);
}

.settings-content-title {
  width: 100%;
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  display: flex;
  justify-content: center;
}

.content-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.content-text-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.content-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.content-input label {
  font-size: var(--text-font-size);
}

.content-between-inputs-icon-wrapper {
  padding-top: 20px;
  width: 30px;
  cursor: pointer;
}
.content-between-inputs-icon-wrapper.disabled {
  pointer-events: none;
}

.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.content-aligned {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.one-item {
  justify-content: center;
}

.two-items {
  flex-direction: row;
  justify-content: space-between;
}

/* Disabled state styles */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.no-value{
  opacity: 0.5;
}

.hide{
  opacity: 0;
}
